<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Buy the deal</title>
		<%= yield :head %>
	</head>
	<body>

		<form action="/list/buy" method="post">
			<div style="margin:0;padding:0">
				<input name="userId" type=hidden value="<%= @status[:user][:id_str]%>" />
				<input name="tweetId" type=hidden value="<%= @status[:id_str]%>" />
			</div>
			User name: <%= @status[:user][:screen_name]%>;
			<br/>
			Tweet Text: <%= @status[:text] %>
			<br/>
			Do you want to buy this deal?
			<br/>
			<input type=submit id=Submit name=submitTweet value="Yes!"> &nbsp;&nbsp;
			<input type=button id=Cancel name=cancelTweet value="Not Now" onclick=window.close()>
		</form>
	</body>
</html>
